<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClcZjhlKgpoAa4JQogS7gW5dHxXSt7sj4</string>
	<key>GCM_SENDER_ID</key>
	<string>930079766574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.macquarieApplication.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>authorize-mq-app</string>
	<key>STORAGE_BUCKET</key>
	<string>authorize-mq-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930079766574:ios:f5a5069409e0525e1187bf</string>
</dict>
</plist>